@media screen and (min-width: 480px) {
	.img-responsive {
		width: 100%;
	}

	.col-sm-12{
	    max-width: 95%;
	}
}

@media screen and (min-width: 961px) {
	.col-md-6{
	    max-width: 49%;
	}	 
}

@media screen and (min-width: 1281px) {
	.col-lg-4{
	    max-width: 32%;
	}
}

//test comment