@import "normalize";
@import "modern-business";
body {

  padding-top: 0px;


  h1 {
    color: white;
  }

  .section{
  	 margin-right:50px;
  	margin-left:50px;
  }

  .section-colored{
    margin-right:50px;
  	margin-left:50px;
  }
}

.container {
	margin-left: auto;
	margin-right: auto;
	clear:both;
}

.row{
	clear: both;
}

.col-lg-12{
	width: 100%;
	text-align : center;

}

.section-colored{


	padding:50px;

	h2{
		font-weight: bold;
		text-align: center;

	}
	p{
		text-align: center;
		font-size: 0.8em;
    	font-weight: 200;

	}

	hr{
		border: 0;
  		height: 0;
   		border-top: 1px solid rgba(0, 0, 0, 0.1);
  		border-bottom: 1px solid rgba(255, 255, 255, 0.3);
	}

}



.navbar{

	background-color:black;
	height:50px;

 
 	.navbar-header{
 	 margin-left: 50px;
     float: left;
 	}
	

	ul{

		
		margin: 0;
		padding:0;
		list-style:none;
		margin-right:50px;
		float:right;
		text-align: right;
		display: inline-block;

	}
	 

	 a {
     margin-top: 10px;
     color: white;
  	 display: block;
  	 padding: 6px 12px;
   	 text-decoration: none;
	 }

}

.col-lg-4{

    width: 30%;
    display:inline-block;
    text-align:center;
    margin: 0px 2.5px 0px 2.5px;
    vertical-align: top;

}

.img-responsive {
	max-width: 90%;
    height: auto;
    padding: 10px 0px 10px 10px;
 

}





















